.li3{
    position: relative;
}
.wei{
    z-index: 100;
    width: 290px;
    height: 290px;
    background: white;
    position: absolute;
    right: 180px;
    top: 30px;
    display: none;
    .a1{
        width: 270px;
        height: 144px;
        
        margin: 0 auto;
        border-bottom: 1px solid #eee;
        p{  
            font-size: 12px;
            color: #636263;
            display: block;
            text-align: center;
            padding-top: 5px;
            span{
                font-size: 12px;
                color: #65a031;
            }
        }
        .aimg1 {
            img{
                width: 100px;
                height: 100px;
                float: left;
                position: relative;
                top: 20px;
                left: 12px;
            }
            
        }
        .aimg2 {
            
            img{
                width: 140px;
                height: 35px;
                float: left;
                position: relative;
                top: 32px;
                right: -25px;
                &:first-child{
                position: relative;
                top: 21px;
                right: -25px;
                }
            }
            
        }
    }
    .b1{
        width: 270px;
        height: 144px;
//      background: blue;
         margin: 0 auto;
         img{
             width: 100px;
             height: 100px;
             display: block;
             float: left;
             position: relative;
                top: 20px;
                right:-12px;
         }
         a{
             font-size: 12px;
            color: #65a031;
             position: relative;
                top: 50px;
                right:-30px;
                display: block;
           
         }
         span{
             font-size: 12px;
             color: #636263;
              position: relative;
                top: 27px;
                right:-30px;
           
         }
    }
}

.li4{
    position: relative;
    
}
.notice{
    z-index: 100;
    width: 240px;
    height: 160px;
    background: white;
    position: absolute;
    right: 370px;
    top: 30px;
    display: none;
    ul{ 
        
        li{ margin: 0 auto;
            line-height: 40px;
            width: 220px;
            border-bottom: 1px dashed gainsboro;
            font-size: 12px;
            color: #636263;
            
            span{
                position: relative;
                top:6px;
                left: 2px;
            }
        }
        
    }
    a{
            font-size: 12px;
            color: #65a031;
            text-align: center;
            display: block;
            line-height: 40px;
        }
}
.oneli{
    position: relative;
}
#strll{
    width: 300px;
    height: 380px;
    z-index: 100;
    background: white;
    position: absolute;
    left: 44px;
    top: 30px;
    display: none;
    overflow: auto;
    .strllone{
//          margin-left: 10px;

        p{
            font-size: 14px;
            color: #636263;
            height: 30px;
            width: 260px;
           
            margin: 15px 10px auto;
            
        }
        ul{ 
            width: 260px;
            height: 30px;
            background: #f1f1f1;
            margin: 0 auto;
            li{
                float: left;
                 
                a{
                font-size: 14px;
                color: #444444;
                margin-left: 15px;
                line-height: 30px;
               &:hover{
                   color:#65a031 ;
                   text-decoration: underline;
               }
                
            }
            }
            
        }
    }
  .strlltwo{
      p{
          font-size: 14px;
          color: #636263;
          height: 30px;
          width: 260px;         
          margin: 15px 10px auto;
          
      }
      ul{ width: 260px;
          height: 100%;
          margin: 0 auto;
          .chang{
                position: relative;
                .icon-jiantouyou{
                    position: absolute;
                    right: 10px;
                    top: 0px;
                    
                }
                .p{
                    display: none;
                }
                .icon-jiantouxia{
                    position: absolute;
                    right: 10px;
                    top: 0px;
                    
                }
          }
          li{
              width: 260px;
               
                a{border-bottom: 1px solid #ececec;
                    font-size: 14px;
                    color: #444444;
                    width: 260px;
                    line-height: 34px;
                    display: block;
                     &:hover{
                    color:#65a031 ;
                    background: #f1f1f1;
                    }
                }
              
          }
      }
     
  }
}
.layer{
        position: fixed;
        z-index: 9999;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .5;
        display: none;
}
.popbox{
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99999;
        width: 524px;
        height: 288px;
        padding: 6px;
        margin: 0 auto;
        margin: -144px 0 0 -262px;
        border: 8px;
        border-color: rgba(0,0,0,0.5);
        background: rgba(0,0,0,0.16);
        display: none;
        
        .pop1{
            width: 512px;
            height: 40px;
            background: #EAEAEA;
            padding-right: 10px;
            img{
                float: right;
                margin-top: 8px;
                cursor: pointer;
                
            }
        }
        .pop2{
            width: 522px;
            height: 96px;
            background: #FFFFFF;
            padding-bottom: 20px;
            img{
                width: 60px;
                height: 68px;
                float: left;
                margin-left: 120px;
                margin-top: 28px;
                
            }
            p{
                font-size: 30px;
                color: #555;
                float: left;
                margin-top: 40px;
                margin-left: 15px;
                
            }
        }
        .pop3{
            width: 522px;
            height: 25px;
            background: #FFFFFF;
            text-align: center;
            p{  
                font-size: 18px;
                font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;
                color: #999;
                letter-spacing: 2px;
                margin-left: 25px;
                em{
                    color: #f6ab00;
                    font-style: normal;
                }
            }
        }
        .pop4{
            width: 522px;
            height: 93px;
            background: #FFFFFF;
            
            .po1{
                width: 147px;
                height: 40px;
                background: #f5ffed;
                border: 1px solid #64a131;
                font-size: 16px;
                display: block;
                color: #64a131;
                text-align: center;
                float: left;
                line-height: 40px;
                margin-left: 120px;
                border-radius: 4px;
                margin-top: 20px;
            }
             .po2{
                width: 147px;
                height: 40px;
                background: #64a131;
                border: 1px solid #64a131;
                font-size: 16px;
                display: block;
                color: #eff4ec;
                background: #64A131;
                float: left;
                text-align: center;
                line-height: 40px;
                border-radius: 4px;
                margin-left: 10px;
                margin-top: 20px;
            }
            
        }
}
